.right-section {
    height: 330px;
    margin: 25px;
    flex: 1 1 160px;
    background-color: #00474b;
    border-radius:12px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
  }

  .form-inline {
    margin: 18% 0 0 8%;
  }
  
  .whiteColor {
    color: white;
  }
  
  .mb-15 {
    margin-bottom: 15%;
  }

  .amt {
    color: #25c2ac;
    font-size:24px;
    font-weight: bold;
    position: relative;
    top: -20px;
  }

  .reset-btn {
    width: 97%;
    height: 38px;
    background-color:#25c2ac;
    font-weight: bold;
    font-size: 18px;
    color: #00474b;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    border: 0;
    border-radius: 4px;
    left: 6px;
  }

  label {
    float: left;
    font-weight: bold;
    color: gray;
  }