.App {
  text-align: center;
  height: 100vh;
  background-color: #c5e4e6;
}

/* splitter */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.splitter-container {
  background-color: white;
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
}

.inner-container {
  width: 65%
}

.logo {
  margin-bottom: 10%;
}


@media only screen and (max-width: 645px) {
  .App {
    height: 100%
  }
  .inner-container {
    width: 100%;
  }
  .logo {
    margin-top: 10%;
  }
}